# Ignore node modules
node_modules

# Ignore local environment files
.env
.env.local

# Ignore logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore editor configs
.vscode
.idea

# Ignore build artifacts
dist
build
